
 <form method="post" action="/experiments/<%= @procedures[0].experiment_id %>/logs">
  <h2>
    <%= @user.first_name %>'s Log</h2>
  PROCEDURES<br>
  <% @procedures.each do |procedure| %>
  <ul>
    <li><input type="checkbox" name="log[procedures][]" value='<%=procedure.id%>' ><%= procedure.text %></li>
  </ul>
  <% end %>
  <br>
  OBSERVATION:<br><br>
  Title: <br><input type="textbox" name="log[title]"><br><br>
  Text: <br>
  <textarea type="textbox" name="log[observation]"></textarea><br><br>
  HOURS WORKED: <br><br><input type="textbox" name="log[hours]"><br><br>
  <input type="submit" value="Submit">
</form>
