<h3><a href="/experiments/new">create experiment</a></h3>
  <h2>Experiments</h2>
    <div>
      <% if @experiments %>
        <ul class="experiment_list">
          <% @experiments.each do |experiment| %>
            <li>
              <%= link_to "#{experiment.title}", experiment_path(experiment) %>
            </li>
          <% end%>
        </ul>
      <%end%>
    </div>
