<h1>Experiments</h1>
  <div>
    <% if @experiments %>
      <ul>
        <% @experiments.each do |experiment| %>
          <li>
            <%= link_to "#{experiment.title}", experiment_path(experiment) %>
          </li>
        <% end%>
      </ul>
    <%end%>
  </div>

<% if admin? %>
  <a href="/experiments/new">Create New Experiment</a>
<% end %>
